/*
  This file should define all variables for fonts and colors
 */

@import 'color.css';

:root {
  /* Color */
  --primary-color: var(--eerie-black);
  --highlight-color: var(--white);
  --text-color: var(--white);
  --comment-color: var(--pistachio);

  /* Font */
  --primary-safe-font: sans-serif;
  --comment-font: Courier;

  /* Sizes */
  --base-width: 1px;
  --padding-left: var(--base-width * 4);
}

[data-theme='light'] {
  --primary-color: var(--white);
  --highlight-color: var(--eerie-black);
  --text-color: var(--eerie-black);
  --comment-color: var(--green-pigment);
}
