@import url('./scss/variable.css');

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--primary-color);
  font-family: var(--primary-font,  sans-serif ) ;
  color: var(--text-color);
  font-size: var(--base-width*16);
   line-height: 1.3 rem; 
  }

* {
  box-sizing: border-box;
}

