@import url('./scss/variable.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-safe-font);
  font-size: var(--base-width * 16);
  line-height: 1.3 rem;
}

* {
  box-sizing: border-box;
}
