.container {
  padding: 0 2rem;
  background-color: black;
}

.main {
/*   height: 100vh;
 */  min-height: 100vh;
  max-width: 1280px;  
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
